version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333" #REST API (HTTP)
      - "6334:6334" #gRPC
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped

  trainer:
    build:
      context: .
      dockerfile: docker/trainer.Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    container_name: trainer
    command: uvicorn src.api.app:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/workspace
    working_dir: /workspace
    tty: true
    ports: 
      - "8080:8888" #Jupyter
      - "8000:8000"
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]


volumes:
  qdrant_storage: